.container {
  width: 375px;
  margin: 0 auto;

}

header {
  background-color: turquoise;
  height: 120px;
}



h1 {
  font-size: 30px;
  padding-left: 80px;
  color: white;

}

 #addToDoForm {
   padding-top: 30px;
   color: :lightgrey;
 }

#newToDoText{
font-size: 20px;

}
#newToDoText {
  font-size: 20px;
  color: darkgrey

}

#submit {
  font-size: 20px;

}
